div .btn-primary {
  font-weight: bold;
  color: #ffffff;
  //background-color: #ffC300;
  background-color:#ffa100;
  border-color: #FFD700;
}

div .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #ffa100;
  background-color: #f0f0f0;
  border-color: lightgoldenrodyellow; /*set the color you want here*/
}

.btn-warning {
  color: #fff;
  background-color: #ff0000;
  border-color: #FFD700;
}

.btn-warning:hover {
  color: #ffa100;
  background-color: #f0f0f0;
  border-color: lightgoldenrodyellow; /*set the color you want here*/
}

rzslider span.rz-pointer {
  top: -14px;
  z-index: 3;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: #ffa100;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}

rzslider span.rz-bar.rz-selection {
  z-index: 2;
  background: #ffa100;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.breadcrumb li a {
  color: #ffa100;
}

.breadcrumb li a:hover  {
  color: #ff00ff;
  background-color: yellow;
}

#content .product .text {
  padding: 10px !important;
}

.nav-search .nav-search-input {
  border: 1px solid #ffa100;
  border-radius: 4px !important;
  color: #666 !important;
  font-size: 13px;
  height: 28px !important;
  line-height: 1.3;
  padding-bottom: 2px;
  padding-top: 2px;
  transition: width 0.15s ease 0s;
  width: 152px;
  z-index: 11;
}

/* customize the features search color */
.nav-search .nav-search-icon {
  background-color: transparent;
  color: #ffa100 !important;
  font-size: 14px !important;
  line-height: 24px !important;
}

/* setting the background color of all pages */
.bg-black {
  background-color: #ffa100;
  /*background: transparent;*/
}

@media (min-width: 1700px) {
  .container {
    width: 1680px;
  }
}
/* center the image in home page product */
div img{
  margin:0 auto;
}
